* {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}
body{
  color: antiquewhite; 
  font-family: garamond, source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif ;
  text-transform: capitalize;
  font-size: 20px;
  width: 100%;
  background-image: linear-gradient(to right, rgb(105, 88, 139), rgb(20 15 35));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.tech-stack {
  text-align: center;
  padding: 50px 0;
}

.icons i {
  font-size: 3rem;
  margin: 15px;
  transition: transform 0.3s ease-in-out;
}

.icons i:hover {
  transform: scale(1.4);
}
.me{
  margin-top: 50px;
}
#header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.contact {
  list-style-type: none;
}
.name{
  font-weight: 700;
  font-size:xx-large;
}
.home{
  margin-top: 100px;
}

.tech-stack{
  border: none;
  background-image: linear-gradient(300deg, rgb(73, 59, 102), rgb(105, 89, 140), rgb(30, 22, 54));
 }
 
  a > li {
color: aliceblue;
text-decoration: none;
  }
  .name{
    margin-top: 100px;
  }
  #header, #footer{
    backdrop-filter: blur(10px);
  }
  
  .card{
   border: none;
   background-color: #e8ddec;
  }
  .nav-link{
    color: antiquewhite;
    font-weight: 900;
    font-size: xx-large;
  }
  .navbar :hover{
    color: rgb(146, 124, 166);
  }
  .center {
    text-align: center;
    font-weight:bolder;
    font-size:xx-large;
  }
  .contact{
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
/* Make icons responsive */
@media (max-width: 768px) {
  .icons i {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .icons i {
    font-size: 2rem;
  }
}


@media only screen and (max-width: 768px) {
  .bg {
    width: 100%;
    height: 350px;
}

.nav{
  flex-wrap: nowrap;
  margin-left: 40px;
}
}
@media  (min-width: 1000px) {
  .name {
    margin-left: 50px;
}
.up > img{
  width:110px;
  height:160px;
}
}
@media (min-width: 370px) and (max-width: 719px) {
.up > img{
  width:48px;
  height:60px;
}}
@media (max-width: 369px){
  .up > img{
    width:25px;
    height:30px;
  }
}
@media (min-width: 720px) and (max-width: 1000px) {
  .up > img{
    width:60px;
    height:80px;
  }
}
@media (min-width : 767px)  {
.bg{
  width: 100%;
  height: 600px;
}

.name{
  margin-top: 200px;
  margin-left: 100px;
}
.me{
  margin-left: 100px;
}
}
